/* 初始化 */
*{box-sizing: border-box;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:none; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; }
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
body{margin:0;padding:0;color:#333;font-size: 14px;display: flex;height: 100%;flex-direction: column;}
a{color:#333}
img{width: 100%;}
/* 定义变量 */
:root{
    --theme-color:#3388ff;
}

/* 头部 */
header{position: sticky;top: 0;background: #fff;}
.header-nav{align-items: center;display: flex;justify-content: space-between;width:100%;max-width:1200px;margin:auto}
.header-nav .left{padding-left:20px;}
.header-nav .left,.header-nav .right{display: flex;}
.header-nav .left img{max-width:100px;}
.header-nav .right .pc-nav a{display:inline-block;padding:1rem;border-bottom:2px solid transparent;font-size:16px;}
.header-nav .right .pc-nav a:hover{border-color:var(--theme-color);color:var(--theme-color)}
.header-nav .right .mobile-nav{
    display: none;
    padding-right:20px;
}
.header-nav .right .mobile-nav i{
    font-size:30px;
}
#mobile-nav-list{
    position: fixed;
    width: 200px;
    background: #fff;
    box-shadow: -4px -4px 20px #8e8e8e;
    height: 100%;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s all;
}
#mobile-nav-list i{
    text-align: right;
    font-size: 20px;
    padding: 6px;
}
#mobile-nav-list.show{right:0px;}
#mobile-nav-list a{
    padding: 10px;
    border-bottom: 1px dashed #777;
}
/* 内容 */
main{flex-grow: 1;}
main>.content{
    max-width:1200px;
    width: 100%;
    margin:3% auto;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding: 2% 4%;
}

/* 底部 */
.footer{
    background: #f8f8f8;
    padding:3% 3% 1%;
}
.footerGuarantee{
    display: flex;
    width:100%;
    justify-content: center;
    margin-bottom:4%;
  }
  .footerGuarantee i{font-size: 40px;margin-right:1%;}
  .footerGuarantee>div{display: flex;margin: 0 2%;align-items: center;}
  .footerNav{
    display: flex;
    width:100%;
    justify-content: center;
    margin-bottom:4%;
  }
  .footerNav a{font-size:16px;padding:0 3%;cursor: pointer;font-weight: 400;}
  .footerNav a:hover{color:var(--theme-color);}
  .footerNav a +a{border-left:1px solid #aaa}
  .footerSpan{width:100%;line-height:150%;font-size:14px;text-align: center;font-weight: 400;}


/* index页面 */
.fuwu .t{width:100%;text-align: center;padding: 1%;}
.fuwu .t h3{font-weight:400;font-size: 1.5rem;}
.fuwu .t p{color:#333;margin: 1rem;}
.fuwu .c{display: flex;flex-wrap: wrap;justify-content: space-around;}
.fuwu .c .item{
    padding-bottom: 3%;
    flex-grow:1;
    width:31%;
    margin:0 1%;
    min-width:200px;
    cursor: pointer;

  }
.fuwu .c .item span{display: block;padding:12px;background:#f5f5f5;}
.fuwu .c .item span:hover{color:#fff;background:var(--theme-color)}
.fuwu .b{width:100%;text-align: center;padding-bottom:5%;  }
.fuwu .b a{
    width:400px;
    text-align:center;
    max-width:100%;
    border-radius:4px;
    border:1px solid #555;
    font-size:18px;
    padding:14px;
    display: inline-block;
    cursor: pointer;     
}
.fuwu .b a:hover{color:#fff;background:var(--theme-color);border-color:var(--theme-color)}
.introduce{
    margin-bottom:30px;
    background:#f5f5f5;
    display: flex;
    flex-wrap: wrap;   
}
.introduce .right{width:60%}
.introduce .left{
        width:40%;
        padding:4%;       
}
.introduce .left h3{font-weight: 400;font-size:1.5rem;}
.introduce .left p{line-height:200%;margin-top:16px;}

.introduce .left a{
    margin-top:10px;
    text-align:center;
    border-radius:4px;
    font-size:16px;
    padding:10px 20px;
    display: inline-block;
    cursor: pointer;     
    color:#fff;
    background:var(--theme-color);     
}
.introduce .left a:hover{background:#1768d8;}
  .contact{
    padding:5%;
    color:#fff;
    display: flex;
      flex-wrap: wrap;
      align-items: center;
    
  }
.contact  .left{width:50%;}
.contact  .right{width:50%}

/* 产品页面 */
.product{
    margin-bottom:30px;
    display: flex;
    flex-wrap: wrap; 
}
.product .left{
    width:40%;

}
.product .right{
    width:60%;padding:0 5%;
    
}
.product .right h3{font-weight:bold;font-size: 1.5rem;margin-bottom: 10px;}
.product .right p{
    padding:30px 16px;background:#f4f4f4;
    font-size:24px;color:#e6322e;
    font-weight:bold
}
.product .right .tip{
    color: #3388ff;
    background: #f2f7ff;
    padding: 4px;
    font-size: 12px;
    margin: 10px 0;
    display: table;
}
.product .right span{
    margin-top:10px;
    text-align:center;
    border-radius:4px;
    font-size:16px;
    padding:10px 20px;
    display: inline-block;
    cursor: pointer;     
    color:#fff;
    background:#3388ff;
}
.product .right span:hover{background:#1768d8;}
.details{
    border:1px solid #eee;
    
  }
.details .title{
    background:#f5f5f5;
    margin:0;
    font-size:20px;
    color:#3388ff;  
}
.details .title span{
    border-top:3px solid #3388ff;
    background:#fff;
    padding:20px 50px;
    display: inline-block;
}
.details  .content{
    padding:3%;
}

@media all and (max-width: 990px) {

    .introduce .left{width:100%;}
    .introduce .right{width:100%;}
 

    .product .left{width:100%;}
    .product .right{width:100%;}
    .footerGuarantee i{font-size:30px;}
    .pc-nav{display:none;}
    .header-nav .right .mobile-nav{
        display: block;
    }
  }
  